  <script type="text/javascript">
    // shows dropdown list on click
    $('.ui.dropdown').dropdown();
    // popup windows when hover on avatar
    $('.post-content .avatar').popup({
      inline: true,
      position: 'bottom right',
      lastResort: 'bottom right',
    });
  </script>
  </body>
</html>