<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
        <form method="POST" action="/create" enctype="multipart/form-data">
            <input type="text" name="title"/><br>
            <textarea rows="4" cols="1" name="content"></textarea><br>
            <input type="submit" name="" value="Submit">
        </form>
    </body>
</html>